<h2>{{this.title}}</h2>
<h3>{{this.category}}</h3>
<h3>{{this.body}}</h3>
<p>Para voltar para os nossos produtos Premium <a href="/loja/produtos/premium">clique aqui</a></p>
<p>Para voltar para os nossos produtos <a href="/loja/produtos">clique aqui</a></p>
<p>Para voltar para a página inicial <a href="/loja">clique aqui</a></p>