<h1>Confira abaixo alguns dos nossos produtos:</h1>
<ul>
    {{#each produtos}}
    <li>
        {{this }}
    </li>
    {{/each}}
</ul>
<p>Para ver nossos produtos Premium <a href="/loja/produtos/premium">clique aqui</a></p>
<p>Para voltar para a página inicial <a href="/loja">clique aqui</a></p>