body {
    background-color: black;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: rgb(255, 0, 0);
    text-align: center;
}

h3 {
    color: rgb(48, 48, 107);
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

a {
    color: rgb(112, 112, 255);
    text-decoration: none;
}

ul, li {
    color: white;
    text-align: center;
    list-style: none;
}